---
layout	: page
title 	: "技术日志"
weight	: 30
group	: navigation
---
{% include JB/setup %}
<p>
The LAMPnode:A knowledge archives just for the LAMP Developers.
</p>

<p>
The LAMPNode is aimed at the web developers as written by a developer working on LAMP. The site is for a collection of softwares and program languages that I use, with methods of installing and configuration that works better on LAMP. The more I learn, the more I realize how far I have to go still. So please refer to these tutorials as my notes and always investigate further, especially when it comes to your LAMP better! We all start somewhere, so here you can see my growth.
</p>

<p>If you find mistakes, have suggestions, and or questions please mail me at robert.c@lampnode.com, thank you!</p>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
