---
layout	: index
tagline: Focus On LAMP Technologies
---
{% include JB/setup %}

<div class="contentMainBox">
<h3>Latest log</h3>

<ul class="lastUpdated">
    {% for post in paginator.posts %}
     <li>
	<dl class="lastUpdatedItem">
       		<dt> <a class="lastUpdatedTitle"  href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></dt>
       		<dd> <span class="lastUpdatedDate">{{ post.date | date_to_string }}</span>
            	     {{ post.content | strip_html | truncatewords:30 }}
            	<a href="{{ post.url }}">Read More</a></dd>
      	</dl>
     </li>
    {% endfor %}
</ul>

<div id="pagination">
        <div class="pagenavi" style="padding:10px 5px;">
                <span class="page_number">Page:{{paginator.page}}/Total:{{paginator.total_pages}} | </span>
        <a href="/">First</a> | 
        {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                        <a href="/" class="current">Previous</a>
                {% else %}
                        <a href="/page{{paginator.previous_page}}">Previous</a>
                {% endif %}
        {% else %}
                <span>Previous</span>
        {% endif %}
		| 
        {% if paginator.next_page %}
                <a href="/page{{paginator.next_page}}">Next</a>
        {% else %}
                <span>Next</span>
        {% endif %}
                | <a href="/page{{paginator.total_pages}}">Last</a>
        </div>
</div>

</div>

<div class="contentMainBox">

<div class="contentMainBoxItem" style="margin-top:20px;background-color:#6495ED;color:#ffffff;border-radius: 10px">
	<p style="clear:both;font-size:26px;color:#ffffff;padding:5px 10px;">Welcome to LAMPNode!</p>
        <p style="clear:both;font-size:18px;color:#cccccc;padding:0px 10px;">Focus On LAMP technologies</p>
	<img src="/images/gravatar_120.png" width="120px" height="120px" style="float:left;background-color:#cccccc;border:1px solid #555555;padding:5px;margin:0px 5px"/>
	<ul>
		<li style="font-size:22px;padding-bottom:10px;">Robert Qian<a href="/atom.xml"><img src="/images/radio_icon.png" /></a></li>
                <li>Beijing, China</li>
                <li>Software Engineer</li>
		<li><a href="#" style="color:#ffffff"><span class="jt_authorEmail">please enable js</span></a></li>
		<li>http://www.lampnode.com</li>
                <li>LAMPNode Since Fed, 2013</li>
                
	</ul>
</div>

<div class="contentMainBoxItem" >

<div class="contentMainBoxItemSub" >
<h3>Operation and Maintenance </h3>
<ul>
        <li> <b>CentOS:</b>
                <a href="/guideline/centOs-postInstallation.html" target="_blank">Post Installation</a>
	 </li>
	 <li><b>Ubuntu:</b>
                <a href="/tags.html#Ubuntu-ref" target="_blank">Things to do after installation</a>
        </li>
	
	<li><b>Database:</b>
                <a href="/tags.html#MySQL-ref" target="_blank">Mysql configuration</a>
		| <a href="/mysql/mysql-automatic-backup-script/" target="_blank"> Mysql backup script </a>
         </li>

	<li><b>Web Security:</b>
                <a href="/tags.html#Security-ref" target="_blank">Web Security configuration</a>
		| <a href="/linux/iptables-init-script/" target="_blank">IPTABLES init script</a>
        </li>
</ul>
</div>

<div class="contentMainBoxItemSub" >
<h3>Open Source Projects </h3>
<ul>
        <li> <b>PHP Framework:</b> 
		<a href="http://framework.zend.com/" target="_blank">Zend Framework</a>
		<a href="http://www.smarty.net/" target="_blank">Smarty</a>
	</li>
</ul>
</div>

<div class="contentMainBoxItemSub" >
<h3>Recommended Softwares </h3>
<ul>
	<li> <b>Mail:</b><a href="http://www.mozilla.org/thunderbird" target="_blank">Thunderbird</a></li>
	<li> <b>Files:</b><a href="http://www.visualsvn.com/server/" target="_blank">VisualSVN Server</a> 
			| <a href="https://filezilla-project.org" target="_blank">FileZilla</a></li>
	<li> <b>SSH: </b>PuTTY - WinSCP</li>
	<li> <b>Documents Management:</b> Evernote</li>
	<li> <b>System:</b> grub4dos | ext2explore</li>
	<li> <b>IDE: </b>Eclipse</li>
	<li> <b>Server:</b> Tomcat Httpd</li>
</ul>
</div>

<div class="contentMainBoxItemSub" >
<h3>Help Sheets</h3>
<ul>
	<li><b>Web Design:</b> 
		<a href="/library/colors.html">Web Colors Sheet</a> | 
		<a href="/library/css2.html" target="_blank">CSS2</a> |
		<a href="http://www.elizabethcastro.com/html/extras/xhtml_ref.html" target="_blank">(X)HTML Elements and Attributes</a>
	</li>
	<li><b>Programing:</b><a href="/library/jquery.html">Jquery</a></li>
	<li><b>Development:</b> <a href="/library/github.html">GitHub Guide</a></li>
	<li><b>Code Editors:</b> <a href="/library/vim.html">VI(M)</a></li> 
	<li><b>Blog:</b><a href="/library/jekyll.html">Jekyll</a></li>
</ul>
</div>
</div>

<div class="contentMainBoxItem" >


</div>

</div>
