/* Override some defaults */
html, body {
  background-color: #fff;
  background-image: url('page-bg.png');
  background-repeat: repeat-x;
  background-position: 0 40px;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */

.contentNavi{background-color:#ffffff;width:20%; float:left; border:1px solid #cccccc;height:auto;margin:0px; padding:10px 0px;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
.contentMain{background-color:#ffffff;float:left;border:1px solid #cccccc;width:70%;margin:0px 1%;padding:10px 1%;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}

/*For laster updated*/
.lastUpdated{padding:0px;margin-left:5px;}
.lastUpdated li{padding:5px 0px;list-style:none;margin:0px;}
.lastUpdatedDate {border:0;background-color:#0099ff;padding:3px;color:#ffffff;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}
.lastUpdatedItem {border:1px solid #cccccc;padding:0px 3px;margin:0px;}
.lastUpdatedItem dt{;padding:5px;}
.lastUpdatedTitle{font-size:16px;padding:5px;}

.content {
  padding: 20px;
  margin: 0px 0px; 
  clear:both;
  overflow:hidden;
  height:auto;
}
.page-content-title{margin-bottom:10px;border-bottom:2px dotted #555555;hight:auto;overflow:hidden;clear:both;}
.page-content-title h1{color:#000000;padding:10px 5px;margin:0px;}
.page-content-title h1 small{float:left;clear:both;}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.sideNav{list-style:none;}
.sideNav .active{color:#990066;}

pre{color:green;}
.topbar .btn {
  border: 0;
}

h1{padding:5px 0px 5px 10px; margin:5px 0px;
        color:#ffffff;
        border-radius:5px;
}
h2{padding:5px 0px 5px 10px; margin:5px 0px;
	background:#336699;
        color:#ffffff;
  	border-radius:5px;
}
h3{padding:5px 0px 5px 10px; margin:5px 0px;
        background:#FFE4C4;
        color:#0000;
        border-radius:5px;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
