/* Override some defaults */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  background-color: #fff;
  background-image: url('page-bg.png');
  background-repeat: repeat-x;
  background-position: 0 40px;
}

.topbar .btn {
  border: 0;
}

h1{padding:5px 0px 5px 10px; margin:5px 0px;
        color:#000000;
        border-radius:5px;
}
h2{padding:5px 0px 5px 10px; margin:20px 0px 10px 0px ;
        background:#046D8B;
        color:#ffffff;
        border-radius:5px;
}
h3{padding:5px 0px 5px 10px; margin:5px 0px;
        background:#FFE4C4;
        color:#0000;
        border-radius:5px;
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */

.contentNavi{background-color:#ffffff;width:160px; float:left; border:1px solid #cccccc;height:auto;margin:0px; padding:10px 0px;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
.siteRss img{padding:0px 10px;border-left:1px solid #cccccc; margin:0;}
.contentNaviBox{margin:auto;padding:0px 0px 10px 0px;border:0}
.contentNaviBox .contentNaviBoxTitle{font-size:16px;padding:5px;margin:5px;border-bottom:2px solid #cccccc;}
.contentMain{background-color:#ffffff;float:left;border:1px solid #cccccc;width:760px;margin:0px 0px 0px 5px;padding:0px 10px;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
.contentMainBox{width:48%;float:left;margin:0px 1%;}
.contentMainBox ul li b{padding-right:10px;}
.contentMainBoxItem{width:98%;clear:both;border:0;height:auto;overflow:hidden;padding:10px 1%;margin:0px;}
.contentMainBoxItem ul{list-style:none;padding:5px;margin:0px;}
.contentMainBoxItem ul li{list-style:none;}
/*For laster updated*/
.lastUpdated{padding:0px;margin-left:5px;}
.lastUpdated li{padding:5px 0px;list-style:none;margin:0px;}
.lastUpdatedDate {border:0;background-color:#800000;padding:3px 5px;color:#ffffff;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
        margin:5px 0px;
}
.lastUpdatedItem {border:1px solid #cccccc;padding:0px 3px;margin:0px;}
.lastUpdatedItem dt{;padding:5px;line-height:1.5em;}
.lastUpdatedItem dd{line-height:1.5em;}
.lastUpdatedTitle{font-size:16px;padding:5px;}

footer{clear:both;border:0px;margin:10px auto;padding:0px;width:980px;}
#footerContent{border-top:5px solid #cccccc;clear:both;overflow:hidden;height:auto;padding:10px 0px;}
.footerLogo{width:120px;float:left;border-right:0;padding:10px 10px 0px 0px;margin:0px;}
.footerBox{border:0;float:left;width:800px;height:auto;padding:10px 0px 0px 10px;margin:0px;}
.footerBox .footBoxItems{border:0;padding:0px;margin:0px;float:left;text-align:left;clear:both;}
#footerNaviList{border:0;list-style:none;padding:0px;margin:0px;clear:both;}
#footerNaviList li{float:left;list-style:none;padding:0px 10px 0px 0px;margin:0px;}
#footerNaviList .active{color:#990066;}
#footerNaviBnt{float:right;border:0;padding:0px;margin:0px;}
.content {
  padding: 20px;
  margin: 0px 0px; 
  clear:both;
  overflow:hidden;
  height:auto;
}
.page-content-title{margin-bottom:10px;border-bottom:2px dotted #555555;hight:auto;overflow:hidden;clear:both;}
.page-content-title h1{color:#000000;padding:10px 0px;margin:0px;}
.page-content-title small{color:#555555;float:left;clear:both;font-size:22px;padding:0px 0px 5px 0px;}

.page-content-info{padding:10px 0px;}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.sideNav{list-style:none;}
.sideNav .active{color:#990066;}


/* post page */
.postDate, .postTags{clear:both;overflow:hidden;padding:0px;margin:0px;height:auto;}
.postTags li, .postDate li{float:left;list-style:none;padding:0px 5px;}
.postTagsTitle, .postDateTitle{font-weight:bold;}
.postTags li a span{
        vertical-align:super;
        font-size:0.8em;
}


/* tag_box */
.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
